<ng-container *ngIf="this.controlName; else elseTemplate">
  <div class="input-group w-100">
    <input
      type="number"
      class="form-control"
      [placeholder]="this.placeholder"
      aria-label="Recipient's username"
      aria-describedby="button-addon2"
      [formControlName]="this.controlName"
    />
    <button class="btn btn btn-primary" type="submit" id="button-addon2">
      Search
    </button>
  </div>
</ng-container>

<ng-template #elseTemplate>
  <div class="input-group w-100">
    <input
      type="number"
      class="form-control"
      placeholder="User ID"
      aria-label="Recipient's username"
      aria-describedby="button-addon2"
    />
    <button class="btn btn btn-primary" type="button" id="button-addon2">
      Search
    </button>
  </div>
</ng-template>
